# dependencies
node_modules/

# build output
dist/
build/
.next/
out/

# env files
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# editor
.vscode/
.idea/
.DS_Store